footer {
    clear: both;
    position: relative;
    height: auto;
    margin-top: 50px;
    overflow: auto;
    margin-bottom: 0px;
}
#timesellr {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
#rights {
    text-align: center;
}