<div class="holder" *ngIf="isLogged">
  <h1>Selling now</h1>
  <hr>
  <ul>
    <li *ngFor="let watch of watches">
      <div class="info">
        <img class="pic" [src]="watch.imageUrl" alt="image">
        <h5 class="data">{{watch.model}}</h5>
        <p class="data"><small class="text-muted">{{watch.description}}...</small></p>
        <p class="data"><small class="text-muted">Posted by: <strong>{{watch.creator}}</strong></small></p>
        <p class="data" id="price"><small class="text-muted">Price: ${{watch.price}}</small></p>
        <a id='seeMore' type="button" routerLink='/details/{{watch.id}}'><small>See more...</small></a>
      </div>
    </li>
    <hr>
  </ul>
</div>



<div *ngIf="!isLogged">
  <img class="landing"
    src="https://anscommerce.s3.ap-south-1.amazonaws.com/live/image/catalog/brandstore/johnson/Information/service-center-5.jpg"
    alt="Landing picture">
  <div class="centered">
    <p id="title"><strong>TimeSellr</strong></p>
    <p id="desc">The ultimate <i>timepiece</i> selling app!</p>
    <div id="log">
      <p class="text-muted">Login now to get started!</p>
    </div>
  </div>
</div>