<div class="container">
    <div class="card">
        <div class="col-xs-12">
            <h1 class="text-center">{{watch?.model}}</h1>
        </div>
        <div class="col-xs-12">
            <img [src]="watch?.imageUrl" alt="" class="img-responsive img-details">
        </div>
        <hr>
        <div class="col-xs-12 watch-description"><strong>Description: </strong><i>{{watch?.description}}</i></div>
        <hr>
        <div class="info">
            <p class="creator"><strong>Posted by: </strong>{{watch?.creator}}</p>
            <p class="price"><strong>Price: </strong>{{watch?.price.toFixed(2)}} BGN</p>
        </div>
        <p class="posted"><strong>Created: </strong>{{watch?.date.toDate() | date:'MMM dd'}}</p>
        <hr>
        <div class="msg-btn" *ngIf="!isAuth">
            <button type="button" class="btn btn-info">Message the seller</button>
        </div>
        <div class="auth-btns" *ngIf="isAuth">
            <button type="button" id="edit" class="btn btn-success" routerLink='/edit/{{id}}'>Edit post</button>
            <button type="button" id="close" class="btn btn-danger" (click)="deleteListing()">Delete post</button>
        </div>
        <hr>
    </div>
</div>