.col-md-6 {
  float: left;
}

.card-block {
  float: right;
}
.auth-btns {
  display: inline-block;
  text-align: center;
}
#edit {
  margin-right: 15px;
}
#close {
  margin-left: 15px;
}
.container {
  margin-bottom: 50px;
}
