<div class="container">
  <h1 class="text-italic">Register</h1>
  <hr>
  <form #registerForm="ngForm">
    <div class="form-group">
      <label for="firstName">First name</label>
      <input #fistInput="ngModel" type="text" ngModel name="firstName" id="firstName" class="form-control"
        placeholder="John" pattern="^[A-Z]{1}[a-z]{2,}$" required>
      <p class="error-message" *ngIf="fistInput.invalid && fistInput.touched">Please enter a valid first name!</p>
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input #lastInput="ngModel" type="text" ngModel name="lastName" id="lastName" class="form-control"
        placeholder="Doe" pattern="^[A-Z]{1}[a-z]{2,}$" required>
      <p class="error-message" *ngIf="lastInput.invalid && lastInput.touched">Please enter a valid last name!</p>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input #emailInput="ngModel" type="text" ngModel name="email" id="email" class="form-control"
        placeholder="john.doe@domain.bg" pattern="[\w.-_]+@[\w]+.[a-z]+" required>
      <p class="error-message" *ngIf="emailInput.invalid && emailInput.touched">Please enter a valid email address!</p>
    </div>
    <div #passwordsGroup="ngModelGroup" ngModelGroup="passwords" appPasswordMatch>
      <div class="form-group">
        <label for="password">Password</label>
        <input ngModel
          [ngClass]="{ 'password-match-invalid': passwordsGroup.invalid, 'password-match-touched': passwordsGroup.touched }"
          type="password" name="password" id="password" class="form-control" placeholder="************" required
          minlength="6">
      </div>
      <div class="form-group">
        <label for="rePassword">Re-Password</label>
        <input ngModel
          [ngClass]="{ 'password-match-invalid': passwordsGroup.invalid, 'password-match-touched': passwordsGroup.touched }"
          type="password" name="rePassword" id="rePassword" class="form-control" placeholder="************" required>
      </div>
      <p class="error-message" *ngIf="passwordsGroup.touched && passwordsGroup.invalid">Passwords don't match!</p>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  <p>Already Registered? <a routerLink="/user/login"><strong>Login</strong></a></p>
  <hr>
</div>
